<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head></head>
<body>
   <div>
       <div>
            <h1>Please Login</h1>
       </div>
       <div th:if="${param.error}">
           <h3>Invalid username or password</h3> 
       </div>
       <div th:if="${param.logout}">
        <h3>You have been logged uot succesfully</h3>
        
    </div>
       <form th:action="@{/login}" method="POST">
            <div>
                <label for="">UserName: </label>
                <input type="text" name="username"/>   
            </div>
            <div>
                <label for="">Password: </label>
                <input type="password" name="password"/>   
            </div>
            <div>
                <input type="submit" value="Login"/>
            </div>
       </form>
   </div>
</body>
</html>